</div>
<!-- 主题内容结束 -->
{LF}
<div class="item-footer">
    <div class="powered">
         Powered by <span class="product"><a href="http://www.modoer.com/" target="_blank">Modoer</a></span> <span class="version">$_G[modoer][version]<!--{if $_CFG['buildinfo']}-->&nbsp;($_G[modoer][build])<!--{/if}--></span>&nbsp;$_CFG[copyright]<br />$_CFG[statement]
    </div>
    <!--{if $sitedebug}-->
    <div class="bottom">$sitedebug</div>
    <!--{/if}-->
</div>
<!--{if DEBUG}-->
{print $_G['db']->debug_print();}
{print $_G['loader']->debug_print();}
<!--{/if}-->
</body>
</html>