* { margin: 0; padding: 0 }
.clear_p { clear: both; }
.mt { margin-top: 10px; }
.order_form { border: 1px solid #e2e2e2; border-bottom: 2px solid #e2e2e2; padding: 1px; margin-bottom: 10px; }
.order_form input, .order_form button { vertical-align: middle; }
.order_form h2 { margin: 0; height: 28px; line-height: 28px; font-weight: normal; font-size: 12px; background: #eaeaea; position: relative; }
.order_form .num { color: #5aa337; position: absolute; left: 10px; }
.order_form .name { position: absolute; left: 200px; }
.order_form .name span { float: left; padding-right: 10px; }
.order_form .name span a { color: #3e3e3e; }
.order_form .name span a:hover { color: red; }
.order_form .name .email { width: 47px; height: 17px; position: absolute; top: 5px; float: left; background: url(images/product/btn.gif) no-repeat 0 -41px; }
.order_form .state { position: absolute; right: 10px; }
.order_form .state strong { color: #ff4f01; }
.order_form .con { width: 764px; padding: 10px 0; overflow: hidden; border-bottom: 1px solid #e2e2e2; }
.order_form .ware_pic { float: left; width: 50px; height: 50px; margin: 0 10px; background: #eee; display: inline; }
.order_form .ware_text { float: left; width: 300px; padding-right: 60px; line-height: 24px; }
.order_form .ware_text a { color: #3e3e3e; text-decoration: none; }
.order_form .ware_text a:hover { text-decoration: underline; }
.order_form .attr { display: block; color: #919191; padding-top: 5px; }
.order_form .price { float: left; width: 160px; padding-top: 15px; color: #919191; }
.order_form .price span { color: #333; }
.order_form .amount { float: left; width: 80px; padding-top: 15px; color: #919191; }
.order_form .comment { float: right; padding-right: 10px; color: #919191; }
.order_form .amount span { color: #333; }
.order_form .foot { width: 764px; height: 40px; line-height: 40px; color: #919191; background: #f9f9f9; overflow: hidden; position: relative; }
.order_form .time { float: left; padding-left: 10px; }
.order_form .handle { float: right; padding-right: 10px; }
.order_form .handle b { font-size: 16px; color: red; padding-right: 10px; }
.order_form .btn { cursor: pointer; float: left; margin: 10px 0 0 5px; border: 0; width: 53px; height: 22px; font-size: 12px; color: #3e3e3c; background: url(images/product/btn.gif) no-repeat 0 -335px; }
.order_form .btn1 { cursor: pointer; float: left; margin: 10px 0 0 5px; border: 0; width: 68px; height: 22px; font-size: 12px; color: #3e3e3c; background: url(images/product/btn.gif) no-repeat 0 -365px; }
.order_form a.btn { text-decoration: none; float: left; margin: 10px 0 0 5px; text-align: center; line-height: 22px; border: 0; width: 53px; height: 22px; font-size: 12px; color: #3e3e3c; background: url(images/product/btn.gif) no-repeat 0 -335px; }
.order_form a.btn1 { text-decoration: none; float: left; margin: 10px 0 0 5px; text-align: center; line-height: 22px; border: 0; width: 68px; height: 22px; font-size: 12px; color: #3e3e3c; background: url(images/product/btn.gif) no-repeat 0 -365px; }
#path { color: #333; margin: 10px 0 5px; }
#path a { color: #333; text-decoration: none; }
#path a:hover { color: #f60; text-decoration: underline; }
#path span { padding: 0 5px; }
.text_center { clear: both; }
.order_box { margin-bottom: 20px; border: 5px solid #f5f5f5; }
.order_box_border { border: 1px solid #e2e2e2; padding: 10px; position: relative; }
.order_box_border p { width: 450px; margin: 0 auto; padding: 100px 0; }
.order_box_border p b { position: relative; top: 10px; }
.order_box_border p span { float: left; padding-right: 10px; width: 50px; height: 50px; }
.order_box_border h2 { margin: 0; font-size: 14px; height: 40px; line-height: 40px; padding-left: 10px; color: #3e3e3e; background: url(images/product/particular.gif) no-repeat 0 bottom; }
.order_box_border .box { padding: 15px 0; overflow: hidden; }
.order_box_border .box div { float: left; padding-left: 10px; padding-right: 10px; }
.order_box_border .state { padding-top: 3px; }
.order_box_border .state strong { color: #fe4e02; }
.order_box_border .num { padding-top: 3px; }
.order_box_border .time { padding-top: 3px; }
.btn_box { word-spacing: 10px; }
.order_box_border .btn { border: 0; width: 53px; height: 22px; font-size: 12px; color: #3e3e3c; background: url(images/member/btn.gif) no-repeat 0 -335px; }
.order_box_border .btn1 { border: 0; width: 68px; height: 22px; font-size: 12px; color: #3e3e3c; background: url(images/member/btn.gif) no-repeat 0 -365px; }
.order_box_border h3 { margin: 0; font-size: 12px; height: 26px; line-height: 25px; background: #eee; padding-left: 10px; }
.order_box_border .info { width: 898px; padding: 10px; overflow: hidden; line-height: 20px; margin: 0; }
.order_box_border .info dt { font-weight: bold; color: #3e3e3e; margin: 5px 0; padding: 0; }
.order_box_border .info dd { float: left; width: 300px; color: #656565; margin: 0; padding: 0; }
.order_box_border .info .conc { position: relative; }
.order_box_border .info .email { width: 47px; height: 17px; position: absolute; float: left; background: url(images/product/btn.gif) no-repeat 0 -41px; }
.order_box_border .ware_line { border-top: 2px solid #efefef; border-bottom: 2px solid #efefef; padding: 1px 0; margin-bottom: 10px; }
.order_box_border .ware { border-top: 1px solid #efefef; border-bottom: 1px solid #efefef; }
.order_box_border .ware_list { width: 918px; overflow: hidden; padding: 10px 0; }
.order_box_border .ware_pic { float: left; width: 50px; height: 50px; background: url(images/product/initialize_pic.gif) no-repeat -5px -318px; margin: 0 10px; display: inline; }
.order_box_border .ware_text { float: left; }
.order_box_border .ware_text1 { width: 266px; float: left; }
.order_box_border .ware_text1 a { color: #3f3f3f; text-decoration: none; }
.order_box_border .ware_text1 a:hover { text-decoration: underline; }
.order_box_border .ware_text1 span { color: #919191; position: relative; top: 5px; }
.order_box_border .ware_text2 { float: left; padding-top: 10px; margin-left: 50px; }
.order_box_border .ware_text2 span { padding-right: 30px; color: #666; }
.order_box_border .ware_text2 span strong { color: #3e3e3e; }
.transportation { width: 908px; padding: 10px 0 10px 10px; border-top: 1px solid #efefef; font-size: 14px; color: #666; font-weight: bold; }
.transportation span { padding-right: 20px; color: #3f3f3f; }
.transportation span strong { font-weight: normal; font-size: 12px; color: #3f3f3f; }
.transportation b { color: #ff4f01; font-size: 16px; }
.order_detail_list { clear: both; list-style: none; color: #656565; margin: 0; padding: 0 }
.order_detail_list li { padding: 8px 10px; border-top: 1px solid #efefef; }
.goods { padding: 5px 10px; color: #676767; overflow: hidden; line-height: 20px; }
.content1 { padding: 20px; color: #666; }
.content1 h1 { font-size: 16px; margin-bottom: 15px; }
.content1 p { margin-bottom: 15px; }
.content1 p span { color: #4b7a10; font-size: 16px; font-weight: bold; }
.content1 dl { padding-bottom: 20px; overflow: hidden; }
.content1 dt { float: left; +padding-top:5px;
}
.content1 dd { float: left; }
.content1 .btn { text-align: center; word-spacing: 10px; }
.content1 .btn .btn1 { width: 75px; height: 29px; border: 0; background: url(images/product/btn1.gif); color: #c73702; font-weight: bold; font-size: 14px; }
.content1 .btn .btn2 { width: 75px; height: 29px; border: 0; background: url(images/product/btn2.gif); color: #4e4e4e; font-weight: bold; font-size: 14px; }
.width1 { width: 30px; }
.width2 { width: 80px; }
.width3 { width: 170px; }
.width4 { width: 60px; }
.width5 { width: 180px; }
.width6 { width: 600px; }
.tab { width: 100%; height: 28px; line-height: 26px; background: url(images/product/tab.gif) repeat-x bottom; }
.tab li { float: left; margin-left: 4px; cursor: pointer; font-size: 12px; }
.tab .active { height: 26px; color: #ff4f01; font-weight: bold; padding: 0 10px; border: 1px solid #e2e2e2; border-bottom: 1px solid #fff; background: #fff; }
.tab .normal { height: 26px; color: #3e3e3e; font-weight: bold; padding: 0; border: 1px solid #e2e2e2; background: #f9f9f9; }
.tab .active a { color: #ff4f01; text-decoration: none; float: left; height: 26px; padding: 0; }
.tab .normal a { color: #3e3e3e; text-decoration: none; float: left; height: 26px; padding: 0 10px; }
.scarch_order { padding: 10px 0 0 10px; }
.scarch_order input { vertical-align: middle; }
.scarch_order .text_normal { padding: 1px; font-family: Arial, Helvetica, sans-serif; }
.scarch_order .btn { border: 0; width: 61px; height: 22px; background: url(images/product/btn.gif) no-repeat 0 -305px; cursor: pointer; }
.step { overflow: hidden; position: relative; }
.step li { float: left; width: 210px; line-height: 26px; background: url(images/product/cart_bg_sprite.png) no-repeat -270px -47px; margin-left: -10px; display: inline; font-weight: bold; color: #999; padding-left: 35px; font-family: "\5FAE\8F6F\96C5\9ED1"; font-size: 14px }
.step span { color: #ccc; font-family: Arial; }
.step .first { background: url(images/product/cart_bg_sprite.png) no-repeat 0 -47px; margin-left: 0; padding-left: 15px; width: 210px; }
.step .on { background-position: 0 0; margin-left: 0; color: #FFF; padding-left: 15px; width: 210px; }
.step .on2 { background-position: -270px 0; margin-left: -10px; color: #FFF; padding-left: 35px; }
.step .on span, .step .on2 span { font-family: Arial; color: #fff; }
.order-my-rmb .balance_pay { padding: 20px 20px; font-size: 14px; }
.order-my-rmb .money { color: #000; font-size: 14px; margin-right: 5px; font-family: Arial; }
.order-my-rmb strong { color: #cc0000; }
.order-my-rmb h3, .order-my-info h3 { white-space: nowrap; font-size: 12px; margin: 0; }
#online_payments { margin: 0 0 0 15px; padding: 0; list-style: none; }
#online_payments li { float: left; width: 168px; margin: 10px 5px; padding: 5px 0; text-align: center; border: 1px solid #FFA7CA; border-radius: 3px; }
#online_payments li a { display: block; }
#online_payments li.selected { background: #f8cfdf; }
#online_payments li.selected a { font-weight: bold; color: #F85998; }
.subbutton { height: 28px; line-height: 28px; padding: 0 8px; background: #F7AC34; border: 1px solid #EF8400; border-radius: 3px; font-size: 12px; color: #FFF; font-weight: normal; cursor: pointer; font-weight: bold }
.subbuttout { height: 28px; line-height: 28px; padding: 0 8px; background: #e7e5e5; border: 1px solid #CCC; border-radius: 3px; font-size: 12px; color: #999; font-weight: normal; cursor: pointer; font-weight: bold }
.formbutton, .formbutton:hover { letter-spacing: 0.1em; padding: 4px 1em; background: #FFFFC1; border: 1px solid; border-color: #FFF2E6 #FFBE7D #FFBE7D #FFF2E6; font-size: 14px; color: #009933; font-weight: normal; -moz-border-radius: 3px; cursor: pointer; }
