{template modoer_header}
<script type="text/javascript" src="{URLROOT}/static/javascript/item.js"></script>
<div id="body">
    <div class="myhead"></div>
    <div class="mymiddle">
        <div class="myleft">
        <!--{eval !$mymenu && $mymenu = 'mmenu';}-->
        <!--{template $mymenu,'member','member'}-->
        </div>
        <div class="myright">
            <div class="myright_top"></div>
            <div class="myright_middle">
                <h3><cite>当前操作的主题:<span class="font_2">$_G[manage_subject][name]{if $_G[manage_subject][subname]}($_G[manage_subject][subname]){/if}</span>[<a href="javascript:void(0);" onclick="item_subject_manage();">更换</a>]</cite>物流方式管理</h3>
                <div class="mainrail">
                    <form method="post" name="myform" action="{url product/member/ac/$ac/rand/$_G[random]}">
                    <table width="100%" cellspacing="0" cellpadding="0" class="maintable">
                        <tr>
                            <th width="100">名称</th>
                            <th width="80">邮费</th>
                            <th width="*">简介</th>
                            <th width="60">启用</th>
                            <th width="100">操作</th>
                        </tr>
                        <!--{if $total}-->
                        <!--{dbres $list $val}-->
                        <tr>
                            <td>$val[shipname]</td>
                            <td>$val[price] 元</td>
                            <td>$val[shipdesc]</td>
                            <td>{if $val[enabled]}是{else}否{/if}</td>
                            <td><a href="{url product/member/ac/m_shipping/op/edit/shipid/$val[shipid]}">编辑</a>&nbsp;&nbsp;<a href="{url product/member/ac/m_shipping/op/delete/shipid/$val[shipid]}" onclick="return confirm('您确定要进行删除操作吗？');">删除</a></td>
                        </tr>
                        <!--{/dbres}-->
                        <!--{else}-->
                        <tr>
                            <td colspan="5"><div class="messageborder"><span class="msg-ico">暂未设置物流方式</span></div></td>
                        </tr>
                        <!--{/if}-->
                    </table>
                    <!--{if $total}-->
                    <div class="multipage">$multipage</div>
                    <!--{/if}-->
                    <div class="text_center">
                        <input type="hidden" name="forward" value="{print get_forward()}" />
                        <button type="button" onclick="location.href='{url product/member/ac/m_shipping/op/add}';">新增物流方式</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="mybottom"></div>
</div>

<!--{eval footer();}-->