{include mobile_template('header')}
{include mobile_template('product_common')}
<div class="panel-comm panel-mycolor">
    <div class="panel-body">
        <h3>$message</h3>
        <p class="txt-comm txt-grey mt10">
            您已成功下单，请等待卖家发货处理！
        </p>
        <div class="btn-group-vertical btn-group-mt10 full-width mt10">
            <a class="btn btn-mycolor" href="{url product/mobile/do/myorder}">我的订单</a>
        </div> 
    </div>
</div>
{include mobile_template('footer')}