<!--{eval
    $_HEAD['title'] = (isset($catid)?$category[$catid][name]:'') . $MOD[name];
}-->
{template modoer_header}
<div id="body">
	<div class="product_box">
		<div>
			<form method="post" action="{url product/package}">
				<label>套餐名称：</label>
				<input type="text" name="pkg_name" value="{print $pkg_name}"  />
				<button type="submit">筛选</button>
			</form>
		</div>
		<!--{if $total}-->
		<div class="new_pr_out mt" style="width: 100%;">
			<h2>新套餐</h2>
			<div class="new_pr" id="main0">
				<ul class="show">
					<!--{loop $list $val}-->
					
					<li>
						<a href="{url product/pkg_detail/id/$val['id']}" title="$val[name]">
							<img src="{URLROOT}/{if $val['thumb']}$val['thumb']{else}static/images/noimg.gif{/if}" />
						</a>
						<span class="title">
							<a href="{url product/pkg_detail/id/$val['id']}" title="$val[name]">$val[name]</a></span>
						<em>&yen;<!--{if $val['price'] && $val['end_time'] > time() && $val['start_time'] < time() }-->

	                         {print number_format($val['price'],1)}

                            	<!--{else}-->

                            	{print number_format($val['ori_price'],1)}

                            <!--{/if}--></em>
					</li>
					<!--{/loop}-->
				</ul>
			</div>
		</div>
        <!--{else}-->
		没有相关数据
		<!--{/if}-->
		
		<!--{if $multipage}-->
		<div class="multipage">$multipage</div>
		<!--{/if}-->
	</div>
	
</div>
<!--{eval footer();}-->