{template modoer_header}
<script type="text/javascript" src="{URLROOT}/static/javascript/item.js"></script>
<div id="body">
    <div class="myhead"></div>
    <div class="mymiddle">
        <div class="myleft">
        <!--{eval !$mymenu && $mymenu = 'mmenu';}-->
        <!--{template $mymenu,'member','member'}-->
        </div>
        <div class="myright">
            <div class="myright_top"></div>
            <div class="myright_middle">
                <h3><cite>当前操作的主题:<span class="font_2">$_G[manage_subject][name]{if $_G[manage_subject][subname]}($_G[manage_subject][subname]){/if}</span>[<a href="javascript:void(0);" onclick="item_subject_manage();">更换</a>]</cite>预约管理</h3>
                <div class="mainrail">
                    <div class="op">
                    <!--{if $sid}-->
                    关联主题：<a href="{url item/detail/id/$_G[manage_subject][sid]}">$_G[manage_subject][name]{if $_G[manage_subject][subname]}($_G[manage_subject][subname]){/if}</a>&nbsp;
                    选择产品分类：<select id="catid" onchange="location.href=Url('product/member/ac/g_product/sid/$sid/catid/'+this.value);">
                        <option value="0" style="color:#CC0000;">全部分类</option>
                        <!--{print form_product_category($sid, $catid)}-->
                    </select>&nbsp;
                    <!--{if $catid}-->
					<button type="button" onclick="return rename_category('catid');">重命名</button>&nbsp;
					<button type="button" onclick="return delete_category('catid');">删除分类</button>
					<!--{/if}-->
                    <!--{/if}-->
                    <button type="button" onclick="location.href='{url product/member/ac/g_product/op/add/sid/$sid}';">添加新预约</button>
                    </div>
                    <form method="post" name="myform" action="{url product/member/ac/$ac/rand/$_G[random]}">
                    <table width="100%" cellspacing="0" cellpadding="0" class="maintable" trmouse="Y">
                        <tr>
                            <th width="20"><input type="checkbox" id="allcheck" onclick="checkbox_checked('pids[]',this);" /></th>
                            <th width="75">图片</th>
                            <th width="*">编号/名称/编辑时间</th>
                            <th width="120">售价和销售情况</th>
                            <th width="100">消费积分({print:member point(point/$MOD[pointgroup])})</th>
                            <th width="60">上架/状态</th>
                            <th width="60">操作</th>
                        </tr>
                        <!--{if $total}-->
                        <!--{dbres $list $val}-->
                        <tr>
                            <td><input type="checkbox" name="pids[]" value="$val[pid]" /></td>
                            <td class="product_img"><img src="{URLROOT}/{if $val[thumb]}$val[thumb]{else}static/images/noimg.gif{/if}"></td>
                            <td>
                                <div style="margin:3px 0;"><a href="{url product/detail/pid/$val[pid]}" target="_blank">$val[subject]</a></div>
                                <div class="font_3">产品编号：$val[pid]</div>
                                <div class="font_3">网站分类：{print:product gcategory(catid/$val[gcatid])} 内部分类:$category[$val[catid]]</div>
                                <div class="font_3">{if $val[last_update]}{date $val[last_update]}{else}{date $val[dateline],'Y-m-d H:i'}</div>{/if}
                            </td>
                            <td>
                                <!--{if in_expiry_date(_G('timestamp'), $val['promote_start'], $val['promote_end'])}-->
                                <div style="color:red;">促销价：&yen;$val['promote']</div>
                                <!--{/if}-->
                                <div style="color:green;">销售价：&yen;$val['price']</div>
                                <div>销售量：{$val['sales']} 件</div>
                                <div>库存量：<a href="#" data-type="stock" data-pid="$val[pid]" data-p_style="$val[p_style]">{$val['stock']} 件</a></div>
                            </td>
                            <td>
                                <div>赠送：$val[giveintegral]</div>
                                <div>可用：$val[integral]</div>
                            </td>
                            <td>
                                <div>{if $val[is_on_sale]}已上架{else}<span class="font_1">已下架</span>{/if}</div>
                                <div>{print lang('global_status_'.$val['status'])}</div>
                            </td>
                            <td>
                                <a href="{url product/member/ac/g_product/op/edit/pid/$val[pid]}" data-type="edit">编辑</a><br />
                                <a href="#" data-type="delete" data-pid="$val[pid]">删除</a>
                            </td>
                        </tr>
                        <!--{/dbres}-->
                        <!--{else}-->
                        <tr><td colspan="10">暂无信息。</td></tr>
                        <!--{/if}-->
                    </table>
                    <!--{if $total}-->
                    <div class="multipage">$multipage</div>
                    <!--{/if}-->
                    <div class="text_center">
                        <input type="hidden" name="forward" value="{print get_forward()}" />
                        <!--{if $total}-->
                        <input type="hidden" name="dosubmit" value="yes" />
                        <input type="hidden" name="op" value="delete" />
                        <button type="button" onclick="easy_submit('myform','sale_on','pids[]');">上架所选</button>
                        <button type="button" onclick="easy_submit('myform','sale_off','pids[]');">下架所选</button>
                        <!--{/if}-->
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="mybottom"></div>
</div>
<style type="text/css">
.maintable td.product_img img { width:65px; padding:4px 0; }
.maintable td { line-height: 16px; border-bottom:1px dashed #ccc; }
</style>
<script type="text/javascript">
$(document).ready(function() {

    $('a[data-type="stock"]').click(function(event) {
        var data = $(this).data();
        
    });

    $('a[data-type="delete"]').click(function(event) {
        event.preventDefault();
        var _this = $(this);
        if(!confirm('您确定要删除当前产品吗？')) return;
        var pid = _this.data('pid');
        var post = "{url product/member/ac/g_product/op/delete}";
        $.post(post.url(), {pid:pid, in_ajax:1}, function(data) {
            if(data=='ok') {
                document_reload();
            } else if(is_message(data)) {
                myAlert(data);
            } else {
                console.debug(data);
                alert('未知错误。');
            }
        });
    });

});
</script>
<!--{eval footer();}-->