<script type="text/javascript" src="{URLROOT}/static/javascript/My97DatePicker/WdatePicker.js"></script>
<form method="post"name="frm_post" id="frm_post" action="{url group/member/ac/$ac/op/ban/in_ajax/$_G[in_ajax]}">
 <table width="100%" cellspacing="0" cellpadding="0" class="maintable">
    <tr>
        <td width="65">禁言用户：</td>
        {eval $langtype='group_member_type_'.$member['usertype'];}
        <td>$member[username]&nbsp;[{print lang($langtype)}]</td>
    </tr>
    <tr>
        <td>禁言期至：</td>
        <td>
            <input type="text" name="bantime" size="30" class="t_input" value="$default_time"
            onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" readonly />
        </td>
    </tr>
    <tr>
        <td valign="top">禁言理由：</td>
        <td>
            <textarea name="message" style="width:98%;height:98px;"></textarea>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="hidden" name="dosubmit" value="Y">
            <input type="hidden" name="gid" value="$gid">
            <input type="hidden" name="uid" value="$uid">
            <button type="button" onclick="ajaxPost('frm_post','','document_reload');">提交</button>&nbsp;
            <button type="button" onclick="dlgClose();">关闭</button>
        </td>
    </tr>
</table>
</form>
<!--{eval footer();}-->